<footer class="footer ">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul>
				<li>
					<a href="https://google.com">
						{{'navBar.organisation' | translate }}
					</a>
				</li>
				<li>
					<a href="https://google.com">
						{{'navBar.aboutUs' | translate }}
					</a>
				</li>
				<li>
					<a href="https://google.com">
						{{'navBar.blog' | translate }}
					</a>
				</li>
			</ul>
		</nav>
		<div class="pull-right"> &copy;{{test | date: 'yyyy'}}</div>
	</div>
</footer>
