<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Material Dashboard Heading</h4>
            <p class="card-category">Created using Roboto Font Family</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>Typography</h2>
                </div>
                <div class="row">
                    <div class="template-typo">
                        <h1>
                            <span class="template-note">Header 1</span>The Life of Material Dashboard </h1>
                    </div>
                    <div class="template-typo">
                        <h2>
                            <span class="template-note">Header 2</span>The Life of Material Dashboard</h2>
                    </div>
                    <div class="template-typo">
                        <h3>
                            <span class="template-note">Header 3</span>The Life of Material Dashboard</h3>
                    </div>
                    <div class="template-typo">
                        <h4>
                            <span class="template-note">Header 4</span>The Life of Material Dashboard</h4>
                    </div>
                    <div class="template-typo">
                        <h5>
                            <span class="template-note">Header 5</span>The Life of Material Dashboard</h5>
                    </div>
                    <div class="template-typo">
                        <h6>
                            <span class="template-note">Header 6</span>The Life of Material Dashboard</h6>
                    </div>
                    <div class="template-typo">
                        <p>
                            <span class="template-note">Paragraph</span>
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                    </div>
                    <div class="template-typo">
                        <span class="template-note">Quote</span>
                        <blockquote class="blockquote">
                            <p>
                                I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
                            </p>
                            <small>
                                Kanye West, Musician
                            </small>
                        </blockquote>
                    </div>
                    <div class="template-typo">
                        <span class="template-note">Muted Text</span>
                        <p class="text-muted">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                        </p>
                    </div>
                    <div class="template-typo">
                        <span class="template-note">Primary Text</span>
                        <p class="text-primary">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="template-typo">
                        <span class="template-note">Info Text</span>
                        <p class="text-info">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="template-typo">
                        <span class="template-note">Success Text</span>
                        <p class="text-success">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="template-typo">
                        <span class="template-note">Warning Text</span>
                        <p class="text-warning">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...
                        </p>
                    </div>
                    <div class="template-typo">
                        <span class="template-note">Danger Text</span>
                        <p class="text-danger">
                            I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>
                    </div>
                    <div class="template-typo">
                        <h2>
                            <span class="template-note">Small Tag</span>
                            Header with small subtitle
                            <br>
                            <small>Use "small" tag for the headers</small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
