<div class="main-content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-info">
				<h4 class="card-title">{{'calendar.title' | translate}}</h4>
			</div>
			<div class="card-body">
				<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%2392e3a9&ctz=Europe%2FSofia&src=cGxhbWVuYS5hYkBnbWFpbC5jb20&src=YmcuYnVsZ2FyaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230B8043&title&showTz=1&showTitle=1&mode=MONTH&hl=de" style="border:solid 1px #777" width="1500" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
</div>

