<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title ">Doctor Details</h4>
					</div>
					<div class="card-body">
						<div class="doctor-details-container">
							<div class="active-doctor">
								<div class="active-doctor-image"><img alt="doctor" class="value" src="./assets/img/faces/user4.png"><span class="availability busy"></span><span class="icon-upload_photo upload"></span></div>
								<div class="active-doctor-info">
									<div class="basic-detail info-field-container">
										<div class="name">Dr. Amelia Edwards</div>
										<div class="education">MBBS, MD</div>
										<div class="designation">Orthodontist </div>
									</div>
									<div class="speciality-detail info-field-container">
										<div class="label-text">Specialization</div>
										<div class="specialization">Orthodontics</div>
									</div>
									<div class="work-experience info-field-container">
										<div class="label-text">Experience</div>
										<div class="experience">10+ years</div>
									</div>
									<div class="work-availability info-field-container">
										<div class="label-text">Availability</div>
										<div class="available-days">SUN,TUE,WED,THU,FRI - 8:00 AM - 5:00 PM</div>
									</div>
									<div class="contact-info info-field-container">
										<div class="label-text">Mobile</div>
										<div class="mobile">02 730-3678</div>
									</div>
								</div>
								<div class="work-days-container">
	
									<div class="work-days-content">
										<div class="work-day-item">
											<div class="day-name">Sunday</div>
											<div class="AddBreak day-break-hours">12:00 PM - 1:00 PM</div>
										</div>
										<div class="work-day-item">
											<div class="day-name">Monday</div>
											<div class="TimeOff day-break-hours">TIME OFF</div>
										</div>
										<div class="work-day-item">
											<div class="day-name">Tuesday</div>
											<div class="AddBreak day-break-hours">12:00 PM - 1:00 PM</div>
										</div>
										<div class="work-day-item">
											<div class="day-name">Wednesday</div>
											<div class="AddBreak day-break-hours">12:00 PM - 1:00 PM</div>
										</div>
										<div class="work-day-item">
											<div class="day-name">Thursday</div>
											<div class="AddBreak day-break-hours">12:00 PM - 1:00 PM</div>
										</div>
										<div class="work-day-item">
											<div class="day-name">Friday</div>
											<div class="RemoveBreak day-break-hours">---</div>
										</div>
										<div class="work-day-item">
											<div class="day-name">Saturday</div>
											<div class="TimeOff day-break-hours">TIME OFF</div>
										</div>
										<!---->
									</div>
								</div>
							</div>
						</div>
						<div class="break-hours-container" style="display: none;">
							<div class="e-dlg-ref-element"></div>
							<!---->
						</div>
						<app-add-edit-doctor>
							<div class="new-doctor-container" style="display: none;">
								<div class="e-dlg-ref-element"></div>
								<!---->
							</div>
						</app-add-edit-doctor>
						<div class="delete-confirmation-container" style="display: none;">
							<div class="e-dlg-ref-element"></div>
							<!---->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>