<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title ">	{{'tables.header1' | translate }}</h4>
						<p class="card-category"> {{'tables.desc' | translate }}</p>
					</div>
					<div class="card-body">
						<div class="doctors-wrapper">
							<div class="specialization-detail-wrapper">
								<div class="specialist-display">
									<div>
										<div class="e-cards specialist-item" id="Specialist_1" (click)="navigateDoctor()">
											<div class="e-card-content">
												<div class="specialist-image"><img alt="doctor" class="profile" src="./assets/img/faces/user.png"><span class="availability busy"></span><span class="icon-upload_photo upload"></span></div>
											</div>
											<div class="specialist-detail">
												<div class="name">Dr. John Williams</div>
												<div class="education">MBBS, DMD</div>
												<div class="specialist-experience">
													<div class="specialization"><span class="label-text">Designation</span><span class="specialization-text">General Dentist</span></div>
													<div class="experience"><span class="label-text">Experience</span><span class="specialization-text">10+ years</span></div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="e-cards specialist-item" id="Specialist_2" (click)="navigateDoctor2()">
											<div class="e-card-content">
												<div class="specialist-image"><img alt="doctor" class="profile" src="./assets/img/faces/user1.png"><span class="availability available"></span><span class="icon-upload_photo upload"></span></div>
											</div>
											<div class="specialist-detail">
												<div class="name">Dr. Lea Brown</div>
												<div class="education">MBBS, DDS </div>
												<div class="specialist-experience">
													<div class="specialization"><span class="label-text">Designation</span><span class="specialization-text">Oral Surgeon</span></div>
													<div class="experience"><span class="label-text">Experience</span><span class="specialization-text">20+ years</span></div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="e-cards specialist-item" id="Specialist_3" (click)="navigateDoctor3()">
											<div class="e-card-content">
												<div class="specialist-image"><img alt="doctor" class="profile" src="./assets/img/faces/user2.png"><span class="availability away"></span><span class="icon-upload_photo upload"></span></div>
											</div>
											<div class="
												 
										specialist-detail">
												<div class="name">Ellie Smith</div>
												<div class="education">B.Sc.</div>
												<div class="specialist-experience">
													<div class="specialization"><span class="label-text">Designation</span><span class="specialization-text">Dental Assistant</span></div>
													<div class="experience"><span class="label-text">Experience</span><span class="specialization-text">4+ months</span></div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="e-cards specialist-item" id="Specialist_4" (click)="navigateDoctor4()">
											<div class="e-card-content">
												<div class="specialist-image"><img alt="doctor" class="profile" src="./assets/img/faces/user3.png"><span class="availability busy"></span><span class="icon-upload_photo upload"></span></div>
											</div>
											<div class="specialist-detail">
												<div class="name">Dr. Paul Walker</div>
												<div class="education">MBBS, MD (Endodontology)</div>
												<div class="specialist-experience">
													<div class="specialization"><span class="label-text">Designation</span><span class="specialization-text">Endodontistt</span></div>
													<div class="experience"><span class="label-text">Experience</span><span class="specialization-text">10+ years</span></div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="e-cards specialist-item" id="Specialist_5" (click)="navigateDoctor5()">
											<div class="e-card-content">
												<div class="specialist-image"><img alt="doctor" class="profile" src="./assets/img/faces/user4.png"><span class="availability available"></span><span class="icon-upload_photo upload"></span></div>
											</div>
											<div class="specialist-detail">
												<div class="name">Dr. Amelia Edwards</div>
												<div class="education">MBBS, MD</div>
												<div class="specialist-experience">
													<div class="specialization"><span class="label-text">Designation</span><span class="specialization-text">Orthodontist</span></div>
													<div class="experience"><span class="label-text">Experience</span><span class="specialization-text">10+ years</span></div>
												</div>
											</div>
										</div>
									</div>
									<!--<div>
										<div class="e-cards specialist-item" id="Specialist_6" (click)="navigateDoctor6()">
											<div class="e-card-content">
												<div class="specialist-image"><img alt="doctor" class="profile" src="./assets/img/faces/user5.png"><span class="availability busy"></span><span class="icon-upload_photo upload"></span></div>
											</div>
											<div class="specialist-detail">
												<div class="name">Dr. Alexa Richardson</div>
												<div class="education">MD, DM, FACC, FICC</div>
												<div class="specialist-experience">
													<div class="specialization"><span class="label-text">Designation</span><span class="specialization-text">Prosthodontist</span></div>
													<div class="experience"><span class="label-text">Experience</span><span class="specialization-text">5+ years</span></div>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="e-cards specialist-item" id="Specialist_7" (click)="navigateDoctor7()">
											<div class="e-card-content">
												<div class="specialist-image"><img alt="doctor" class="profile" src="./assets/img/faces/user6.png"><span class="availability busy"></span><span class="icon-upload_photo upload"></span></div>
											</div>
											<div class="specialist-detail">
												<div class="name">Dr. Nout Golstein</div>
												<div class="education">MS</div>
												<div class="specialist-experience">
													<div class="specialization"><span class="label-text">Designation</span><span class="specialization-text">Pediatric Dentist</span></div>
													<div class="experience"><span class="label-text">Experience</span><span class="specialization-text">2+ years</span></div>
												</div>
											</div>
										</div>
									</div>-->
									<!---->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>